{{> message}}
<form action="/records"
  method="POST">
  <div class="row form-group m-5 align-items-center">
    <div class="col-sm-3 col-form-label">
      <small class="text-muted form-text small-text">*必填欄位</small>
    </div>
    <div class="col-sm-9 text-center">
      <p>請輸入你的支出</p>
    </div>
  </div>
  <div class="row form-group m-5">
    <label for="name"
      class="col-sm-2 col-form-label">
      名稱* :
    </label>
    <div class="col-sm-10">
      <input type="text"
        class="form-control"
        name="name"
        value="{{name}}">
    </div>
  </div>
  <div class="row form-group m-5">
    <label for="date"
      class="col-sm-2 col-form-label">
      日期* :
    </label>
    <div class="col-sm-10">
      <input type="date"
        class="form-control"
        name="date"
        value="{{date}}">
    </div>
  </div>
  <div class="row form-group m-5">
    <label for="categoryId"
      class="col-sm-2 col-form-label">
      類別* :
    </label>
    <div class="col-sm-10">
      <select class="form-control"
        name="categoryId"
        id="categoryId"
        value="{{categoryId}}">
        <option selected
          hidden>Select</option>
        {{#each categories}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="row form-group m-5">
    <label for="amount"
      class="col-sm-2 col-form-label">
      金額* :
    </label>
    <div class="col-sm-10">
      <input type="number"
        class="form-control"
        name="amount"
        value="{{amount}}">
    </div>
  </div>
  <div class="d-flex justify-content-center m-5">
    <button class="btn btn-warning"
      type="submit">
      新增支出
    </button>
  </div>
</form>